js2py
pyquery
flask
flask_migrate
flask-sqlalchemy
requests
netifaces
gevent ; python_version < '3.9'
supervisor ; sys_platform != 'win32' and python_version < '3.9'
func_timeout
easydict
ddddocr==1.1.0 ; sys_platform == 'win32'
ddddocr==1.0.8 ; sys_platform != 'win32'