<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
  <title>管理员操作中心</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles.">
  <meta name="author" content="道长"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" media="screen" href="/static/css/admin.css">
  <link rel="icon" href="/static/img/logo.png" type="image/x-icon">
</head>
<body>
<h1 class="title">欢迎使用py_dr管理员界面</h1>
<p>你可以在此页面在线上传规则文件到js目录或者删除js目录的文件</p>
</body>
</html>